.footer{
  background-color: rgba(216, 127, 246, 1);
  margin: 0 auto;
  width: 100%;
  padding: 27.5px 20px;
  &__wrapper{
    margin: 0 auto;
    max-width: 745px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 28px;
    line-height: 45px;
  }
}